.center{
    width: 600px;
    margin-top: auto;
    margin-left: auto;
    margin-right: auto;
}
.btn-success{
    border-radius: 20px;
    border-color:black;
}
.btn-primary{
    border-radius: 20px;
    border-color: black;
}